.dragBar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.window {
    background-color: transparent !important;
}
.sidebar {
    background-color: transparent !important;
}
.pane {
    border-left: none !important;
    background-color: #333333;
}
.nav-group-item {
    padding: 10px 10px !important;
    color: #FFFFFF !important;
}
.nav-group-item.active {
    background-color: #156CD5 !important;
}
.whiteText {
    color: white;
}
.template {
    display: inline-block;
}
.templateIcon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 105px;
    height: 148.5px;
    background-color: #fff;
    border-radius: 3px;
}
.templateName {
    text-align: center;
}
.templateName span {
    padding: 3px 6px;
    border-radius: 3px;
}
.clickedText {
    background-color: #156CD5;
}
.clicked {
    box-shadow: 0 0 0 2pt #156CD5;
}