.dragBar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.window {
    background-color: transparent !important;
}
.sidebar {
    background-color: transparent !important;
}
.pane {
    border-left: none !important;
    background-color: #fff;
}
.nav-group-item {
    padding: 10px 10px !important;
    color: #FFFFFF !important;
}
.nav-group-item.active {
    background-color: #156CD5 !important;
}