<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authorr</title>
    <link rel="stylesheet" href="../nativekit/css/all.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="window">
        <header class="titlebar draggable">
            <h1 class="window-title">Authorr</h1>
        </header>
        <div class="content">
            <div class="pane-group">
                <div class="pane pane-normal sidebar">
                    <div class="list">
                        <li class="item active">All Templates</li>
                    </div>
                </div>
                <div class="pane">
                    <div class="padded-more">
                        <div id="blank" class="template">
                            <div class="templateIcon"></div>
                            <p class="templateName"><span>Blank</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="titlebar statusbar">
            <div class="toolbars">
                <button id="startSelected" class="button button-blue pull-right">Create</button>
                <button id="cancelSelected" class="button button-default pull-right">Cancel</button>
            </div>
        </footer>
    </div>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../nativekit/scripts/nativekit.js"></script>
    <script src="../scripts/starterWindow.js"></script>
</body>

</html>